{% extends 'base.html.twig' %}

{% block title %}
    {% if  article is null %}
        Cet article n'existe pas!
    {% else %}
        {{ article.titre }}
    {% endif %}


{% endblock %}

{% block body %}


    <div class="example-wrapper">
        {% if  article is null %}
            Cet article n'existe pas!
        {% else %}
            <h1> {{ article.titre }} </h1>
            <p><small>Article n°{{ article.id }} écrit le {{ article.dateCreation | date('d-m-Y') }}</small></p>
            <p>{{ article.contenu }}
            </p>
            <div id="votes">
                <p>Votez pour cet article : <button data-vote="add" class="vote"> + </button> <button data-vote="remove" class="vote"> - </button></p>
                <p>Votes pour cet article <span id="nbVotes"></span></p>
            </div>
        {% endif %}





    </div>
    {% block jquery  %}
        {# ne pas overrider le script parent #}
        {{ parent() }}
        <script src="{{ asset('js/vote.js') }}"></script>
    {% endblock %}
{% endblock %}
